@charset "utf-8";
html{
  background: #81c8c0;
  font-size: 62.5%;
}
body{
  font-size: 1.6rem;
  font-family: "sawarabi", Helvetica, Arial, sans-serif;
  margin: 0; padding: 0;
}
iframe { border: none; }

input, textarea, button {
  appearance: none;
  -webkit-appearance: none;
  border: none;
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  border-radius: 0;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
h1,h2,h3,h4,h5,p{
  margin: 0;
  padding: 0;
}