@charset "utf-8";
@mixin pc-layout {
  @media screen and (min-width: 1281px) {
    @content;
  }
}
@mixin note-layout {
  @media screen and (min-width: 961px) {
    @content;
  }
}
@mixin tab-layout {
  @media screen and (min-width: 601px) {
    @content;
  }
}
@mixin sp-layout {
  @media screen and (min-width: 481px) {
    @content;
  }
}