<template>
  <div class="home">
    <nav class="nav">
      <header class="nav_bar">
        <div class="nav_bar_logo">
          <img src="@/assets/img/logo.png" alt="">
        </div>
        <div class="nav_bar_menu">
          <button @click="signOut" class="nav_bar_menu_outBtn">Sign Out</button>
          <button @click="saveMemo" class="nav_bar_menu_saveBtn">保存する(ctrl + s)</button>
        </div>
      </header>      
    </nav>

    <main class="memo">
      <section class="memo_list">
        <div class="memo_list_box">
          <ul class="memo_list_box_items">
            <transition-group name="list" tag="ul">
            <li v-for="(memo,index) in memos" :key="index" @click="selectMemo(index)" :data-selected="index === selectIndex" class="list-item">
              <h3 v-if="memo.title">{{ memo.title }}</h3>
              <h3 v-else>空白のタイトル</h3>
              <p v-if="memo.text">{{ showText(memo.text) }}</p>
              <p v-else>空白のメモ</p>
            </li>
            </transition-group>
            <li class="list-item list-new" @click="addMemo">
              <h3>新しいメモを追加する +</h3>
            </li>
          </ul>
        </div>
      </section>
      <section class="memo_contents">
        <!-- <div class="memo_contents_check">
          <h3>{{ selectIndex }}</h3>
          <h3>{{ user.uid }}</h3>
          <h3>{{ user.email }}</h3>
        </div> -->
        <div class="memo_contents_write">
          <div class="memo_contents_write_form">
            <div class="memo_contents_write_form_inner">
              <input type="text" v-model="memos[selectIndex].title" placeholder="空白のタイトル" class="memo_contents_write_form_inner_title">
              <textarea v-model="memos[selectIndex].text" placeholder="空白のメモ" class="memo_contents_write_form_inner_text"></textarea>
            </div>
          </div>
        </div>
        <div class="memo_contents_preview">
          <div class="memo_contents_preview_inner">
            <h2 class="memo_contents_preview_inner_title">
              {{ memos[selectIndex].title }}
            </h2>
            <div v-html="preview" class="memo_contents_preview_inner_text markdown-body"></div>
          </div>
        </div>
      </section>
    </main>
    <div class="delete">
      <button class="delete_btn" @click="deleteMemo">
        <i class="fas fa-trash"></i>
      </button>
    </div>
  </div>
</template>

<script>
import firebase from "firebase";
import marked from "marked"
import hljs from "highlight.js"
export default {
  components: {
    
  },
  props: ['user','memos'],
  computed: {
    preview(){
      return marked(this.memos[this.selectIndex].text)
    }
  },  
  data(){
    return{
      selectIndex: 0,
    }
  },
  methods:{
    signOut(){
      firebase.auth().signOut().then(() => {
        alert("logout")
      })
    },
    showText(text){
      return text.split(/\n/)[0]
    },
    selectMemo(index){
      this.selectIndex = index
      let t = document.querySelector(".memo_contents_write_form_inner_text")
      t.focus()
    },
    addMemo(){
      this.memos.push({
        title: "",
        text: ""
      })
      this.readyMemo()
    },
    deleteMemo(){
      this.memos.splice(this.selectIndex, 1)
      if(this.selectIndex > 0){
        this.selectIndex--
      }
    },
    saveMemo(){
      firebase.database().ref("memos/" + this.user.uid).set(this.memos).then(() => {
        alert("successful!")
      })
    },
    readyMemo(){
      for(let i = 0;i < this.memos.length;i++){
        this.selectIndex = i
      }
    },
  },
  created(){
    marked.setOptions({
      lengPrefix: '',
      breaks: true, 
      highlight: function(code, lang){
        return hljs.highlightAuto(code, [lang]).value
      }
    })
  },
  mounted(){
    this.readyMemo()
    document.onkeydown = e =>{
      if(e.key == "s" && (e.metaKey || e.ctrlKey)){
        this.saveMemo()
        return false
      }
    }
  },
  beforeDestroy(){
    document.onkeydown = null
  }
}
</script>

<style lang="scss">
@import '@/assets/scss/style.scss';
.home{
  .nav{
    &_bar{
      width: 100%;
      height: 56px;
      background: #fff;
      display: flex;
      justify-content: space-between;   
      align-items: center;
      &_logo{
        height: 42px;
        margin-left: 7px;
        img{
          height: 100%;
        }
      }
      &_menu{
        margin-right: 20px;
        button{
          height: 40px;
          padding: 0 1.5em;
          font-size: 2.1rem;
          border-radius: 3px;  
          line-height: 40px;        
        }
        &_outBtn{
          border: 1px solid #ad1341;
          background: #fff;
          color: #ad1341;
          margin-right: 10px;
          cursor: pointer;
          &:hover{
            background: #ad1341;
            color: #fff;
          }
        }
        &_saveBtn{
          border: 2px solid #8FCDDA;
          background: #fff;
          color: #8FCDDA;
          cursor: pointer;
          &:hover{
            background: #8FCDDA;
            color: #fff;
          }
        }
      } 
    }
  }
  .memo{
    display: grid;
    grid-template-columns: 1fr;
    @include note-layout{
      grid-template-columns: minmax(240px,340px) 1fr;
    }
    &_list{
      &_box{
        background: #fff;
        border-radius: 3px;
        margin: 10px;
        
        &_items{
          display: flex;
          flex-flow: column-reverse nowrap;
          list-style: none;
          margin: 0; padding: 9px;
          .list-item{
            margin: 0;
            padding: 9px 5px 12px;
            color: #000;
            background: #fff;
            border-bottom: 1px solid #000;
            list-style: none;
            transition: all .1s ease-out;
            &[data-selected="true"]{
              color: #fff;
              background: #8FCDDA;
            }
            &:hover{
              color: #fff;
              background: #8FCDDA;
              transform: scale(1.01);
            }
            h3{
              font-size: 21px;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
            }
            p{
              font-size: 15px;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
            }
          }
          ul{
            display: flex;
            flex-flow: column-reverse nowrap;
            margin: 0; padding: 0;
            li:first-child{
              border-bottom: none;
            }
          }
          .list-new{
            text-align: center;
          }
        }
      }
    }
    &_contents{
      &_check,&_write,&_preview{
        background: #fff;
        border-radius: 3px;
        margin: 10px;
      }
      &_check{
        h3{
          margin: 0;
        }
      }
      &_write{
        &_form{
          width: 100%;
          overflow-x: hidden;
          &_inner{
            margin: 10px;
            input{
              width: calc(100% - 18px);
              height: 36px;
              padding: 5px 9px;
              line-height: 24px;
              border-bottom: solid 1px #000;
              font-size: 2.7rem;
              &:focus{
                border-bottom: solid 1px #ad1341;
              }
            }
            textarea{
              margin-top: 20px;
              width: calc(100% - 10px); min-height: 30em;
              font-size: 1.7rem;
              line-height: 1em;
              padding: 10px;
              background: #eee;
              resize: vertical;
            }            
          }
        }
      }
      &_preview{
        min-height: 240px;
        &_inner{
          margin: 0 10px;
          padding: 10px 10px;
          &_title{
            padding: 5px 0;
            font-size: 3.6rem;
          }
          &_text{
            
          }
        }
      }
    }
  }
  .delete{
    position: fixed;
    bottom: 20px; right: 20px;
    &_btn{
      height: 52px;
      width: 52px;
      border-radius: 50%;
      line-height: 52px;
      background: #ad1341;
      color: #fff;
      font-size: 24px;
      cursor: pointer;
    }
  }
}
.list-leave-active,
.list-enter-active {
    transition: opacity .6s, transform .5s ease;
}
.list-leave-to,
.list-enter {
    opacity: 0;
    transform: translateX(50px);
}
.list-leave,
.list-enter-to {
    opacity: 1;
}
</style>