<template>
  <div class="login">
    <div class="login_form">
      <transition name="sign" tag="div" mode="out-in">
        <Signin class="" v-if="sign" :sign="sign" @toup="change" key="in"></Signin>
        <Signup class="" v-else :sign="sign" @toup="change" key="up"></Signup>
      </transition>
    </div>
  </div>
</template>

<script>
import Signin from "@/components/Signin.vue";
import Signup from "@/components/Signup.vue";
export default {
  name: "login",
  components: {
    Signin,
    Signup
  },
  data(){
    return{
      sign: true,
    }
  },
  methods:{
    change(){
      this.sign = !this.sign
    }
  }
};
</script>

<style lang="scss">
.login{
  width: 100vw; height: 100vh;
  margin: 0 !important; padding: 0 !important;
  display: flex;
  align-items: center;
  justify-content: center;
  &_form{
    background: #fff;
    border-radius: 5px;
    
  }
}
.sign-enter {
  transform: translate(0,50px);
  opacity: 0;
}
.sign-enter-to {
  opacity: 1;
}
.sign-enter-active {
  transition: all 1s .3s ease;
}
.sign-leave {
  transform: translate(0, 0);
  opacity: 1;
}
.sign-leave-to {
  transform: translate(0,50px);
  opacity: 0;
}
.sign-leave-active {
  transition: all .3s 0s ease;
}

</style>