<template>
  <div class="signup">
    <div class="signup_title">
      <h2>SIGN UP</h2>
      <h3>新しいアカウントを作る</h3>
    </div>
   <div class="signup_form">
      <form class="signup_form_inner" @submit.prevent="postApp">
        <div class="signup_form_inner_email">
          <div class="signup_form_inner_email_input">
            <label for="form_title">Email</label>
            <input type="email"
              v-model="usermail"
              v-validate="'required|email'"
              data-vv-as="このメールアドレス"
              name="email"
              placeholder="メールアドレスを入力"
              maxlength="30">            
          </div>
          <div class="form-control-feedback">
            <p class="alert alert-danger">{{ errors.first('email') }}</p>
          </div>
        </div>
        <div class="signup_form_inner_password">
          <div class="signup_form_inner_password_input">
            <label for="form_title">Password</label>
            <input type="password"
              v-model="password"
              v-validate="'required'"
              data-vv-as="パスワード"
              name="password"
              placeholder="パスワードを入力">
            </div>
          <div class="form-control-feedback">
            <p class="alert alert-danger">{{ errors.first('password') }}</p>
          </div>
        </div>
        <div class="signup_form_inner_btn">
          <button>続行</button>
        </div>
      </form>
    </div>
    <div class="signup_toUp">
      <p>アカウントをお持ちの方は<a @click="change">こちら</a></p>
    </div>
  </div>
</template>

<script>
import firebase from "firebase";
export default {
  data(){
    return{
      usermail: '',
      password: '',
    }
  },
  methods:{
    postApp() {
      // バリデートの判定
      this.$validator.validateAll().then((result) => {
          if (result) {
            //エラーがなかった時の処理を下に記述
            this.signup()
          }
      });
    },
    signup(){
      firebase.auth().createUserWithEmailAndPassword(this.usermail, this.password)
      .then(user => {
        alert("create account ", user.email)
        firebase.auth().signInWithEmailAndPassword(this.usermail, this.password)
        .then(user => {
          alert("ok")
          this.$router.push('/home')
        }),
        err => {
          alert(err.message)
        }
      })
      .catch(error => {
        alert(error.message)
      })
    },
    change(){
      this.$emit('toup')
    }
  }
}
</script>

<style lang="scss">
@import '@/assets/scss/style.scss';
.signup {
  margin: 20px 20px 0;
  min-width: 357px;
  &_title{

    h2{
      font-size: 3.6rem;
    }
    h3{
      font-size: 2.1rem;
    }
  }
  &_form{
    margin-top: 50px;
    &_inner{
      &_email{
        width: 100%;
        &_input{
          display: grid;
          grid-template-columns: 1fr;
          @include note-layout{
            grid-template-columns: 1fr minmax(240px,340px);
          }
          grid-gap: 0 10px;
          input{
            height: 24px;
            padding: 5px 9px;
            line-height: 24px;
            border-bottom: solid 1px #000;
            font-size: 1.6rem;
            &:focus{
              border-bottom: solid 1px #ad1341;
            }
          }
          label{
            line-height: 34px;
            display: inline-block;
          }
        }
      }
      &_password{
        width: 100%;
        margin-top: 10px;
        &_input{
          display: grid;
          grid-template-columns: 1fr;
          @include note-layout{
            grid-template-columns: 1fr minmax(240px,340px);
          }
          grid-gap: 0 10px;
          input{
            height: 24px;
            padding: 5px 9px;
            line-height: 24px;
            border-bottom: solid 1px #000;
            font-size: 1.6rem;
            &:focus{
              border-bottom: solid 1px #ad1341;
            }
          }
          label{
            line-height: 34px;
          }
        }
      }
      &_btn{
        margin-top: 30px;
        text-align: center;
        button{
            background: none;
            border: 1px solid #ad1341;
            color: #ad1341;
            height: 40px;
            line-height: 42px;
            width: 239px;
            font-size: 2.1rem;
            border-radius: 3px;
            margin: 0 auto;
            transition: all .1s ease-out;
            &:hover{
              background: #ad1341;
              color: #fff;
            }
        }        
      }
      .form-control-feedback{
        text-align: right;
        height: 21px; width: 100%;
        p{
          font-size: 1.2rem;
          color: #ad1341;
        }
      }
    }
  }
  &_gbtn{
    margin-top: 40px;
    text-align: center;
    button{
        background: #ad1341;
        color: #fff;
        height: 42px;
        line-height: 42px;
        width: 241px;
        font-size: 2.1rem;
        border-radius: 3px;
    }
  }
  &_toUp{
    margin-top: 50px;
    text-align: right;
    p{
      font-size: 1.4rem;
      a{
        color: #ad1341;
        text-decoration: underline;
        cursor : pointer;
      }
    }
  }
}
</style>