<template>
  <div id="app">
    <router-view :user="user" :memos="memos" />
  </div>
</template>

<script>
import firebase from "firebase";
export default {
  data(){
    return{
      user:{},
      memos:[]
    }
  },
  methods:{
    
  },
  created(){
    firebase.auth().onAuthStateChanged(user => {
      this.user = user ? user : {}
      if(user){
        const memo = firebase.database().ref("memos/" + this.user.uid).once("value").then(result => {
          if(result.val()){
            this.memos = result.val()
          }else{
            this.memos.push({
              title: "",
              text: ""
            })
          }
        })
        this.$router.push('/home')
      }else{
        this.$router.push('/')
      }
    }, error => {
      alert(error.message)
    })
  }
}
</script>

<style lang="scss">

</style>

